<li>
<%= rs_name.name %> -- <%= rs_name.user.email %>: <%= rs_name.notified? ? "" : "Not" %> Available --- 
<%= link_to 'Destroy', rs_name, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
