<h1>Listing rs_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
		<th>Notified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rs_names.each do |rs_name| %>
  <tr>
    <td><%= rs_name.name %></td>
    <td><%= rs_name.user.email if rs_name.user %></td>
		<td><%= rs_name.notified ? "Yes" : "No" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rs name', new_rs_name_path %>
