<h1>Tracked Names</h1>
<% unless signed_in? %>
	<p>To track a name, click "Track new name" below and enter the name you want to track as well as the email you want to be notified at.<br />
	When the name becomes available(Checked every 10 minutes), you will be sent an email.<br />
	If you want to be able to see all of the names you are tracking, as well as be able to delete them, please sign up for an account.<br />
	If you like my site, please consider clicking that donate button up in the top right corner, especially if you're a heavy user.<br />
	It will help me pay for some server costs and keep this thing running.</p>
<% end %>
<% if @rs_names.present? %>
	<%= will_paginate %>
	<ul>
		<%= render @rs_names %>
	</ul>
	<%= will_paginate %>
<% end %>
<%= link_to 'Track new name', new_rs_name_path %>
