<footer class="footer">
<small>
	Site built by <%= link_to "Aaron Neyer", 'http://aaronneyer.com' %>
</small>
<span class='center'><%= "Load Time: #{(Time.now-@time).round(3)} seconds %></span>
<nav>
<ul>
	<% if signed_in? %>
		<li><%= link_to "#{User.current_user.email}: Sign Out", signout_path, method: 'delete' %></li>
	<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
	<% end %>
</ul>
</nav>
</footer>
